body {
  font-family: "Noto Sans JP", sans-serif, Meiryo, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  background-color: inherit;
}

.my-color {
  color: #4d6a87ff;
}

.my-color-dark {
  color: rgb(48, 66, 83);
}
