@media (max-width: 1024px) {
html{
    font-size: 14px;
}
h1{
    font-size: 3rem;
}
}
h2{
  font-weight: normal;
  color: white;
}
h3{
    font-weight: normal;
    color: #4d6a87ff;
}
body{
    background-color: #4d6a87ff;
    font-family:
    'Noto Sans JP',
    sans-serif,
    Meiryo,
    "Helvetica Neue",
     Arial,
     "Hiragino Kaku Gothic ProN",
     "Hiragino Sans",
     sans-serif;
}
.section{
    background-color: white;
    margin: 5% 5%;
    padding: 10px 5%;
    border-radius: 10px;
}
.button{
  display: block;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  font-weight: bold;
  color: #4d6a87ff;
  border: solid 3px #4d6a87ff;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.button:hover{
  color: white;
  background-color: #4d6a87ff;
}
.review-button{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  font-weight: bold;
  color: rgb(252, 149, 53);
  border: solid 3px rgb(252, 149, 53);
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.review-button:hover{
  color: white;
  background-color: rgb(252, 149, 53);
}
  ul{
    padding: 0;
  }
  .list{
    padding: 0;
  }.list-item{
    list-style:none;
  }
  .list-item>a{
    text-decoration: none;
    display: block;
  }
  .list-item>a.active{
    padding: 8px;
    border-bottom:solid 1px #ccc;
  }
  .list-item > a::after{
    content:"▼";
    position: absolute;
    top:12px;
    right:10px;
  }
  .list-item >a.active::after{
    content:"▲";
  }
  .list-item > div{
    margin: 10px 20px;
  }
  [v-cloak] {
    display: none;
  }
