html{
    font-size: 1
    2px;
}
body{
    font-family: Meiryo,
    "Helvetica Neue",
     Arial,
     "Hiragino Kaku Gothic ProN",
     "Hiragino Sans",
     sans-serif;
     font-size: 1rem;
}
.head-block{
    height:100%;
    overflow-wrap:  break-word;
    overflow: hidden;
}
.start-button{
    position: absolute;
    right: 0;
    bottom: 0%;
    margin: auto;
    font-size: 9rem;
    color: rgba(0, 0, 0, 0.568);
}
.guide{
    margin: 0 10%;
}
.guide>h1,h2{
    text-align: center;
}
#title-block{
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vmin;
}
#title{
    font-size: 9vmin;
}