
body{
     font-family: Meiryo,
     "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      sans-serif;
}
h1{
  font-size: 7vmin;
}
.start-button {
    z-index: 1;
  width: 50vmin;
  height: 50vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border: 5vmin solid;
  border-color: rgb(245, 77, 47);
  border-radius: 50%;
  background: #ffffff;
}
.start-item > a,.start-button > a{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
  line-height: 0%;
  vertical-align: middle;
  user-select: none;
}
.start-button > a{
  font-size: 20vmin;
}
.start-item > a{
  font-size: 7vmin;
}


.start-item{
  width: 20vmin;
  height: 20vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1vmin solid;
  color: #4d6a87ff;
  border-color: #4d6a87ff;
  transition: transform 500ms;
}
.start-items-open:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(30vmin) rotate(-90deg);
  transition-timing-function:linear;
  transition-delay: 0s;
  transition: 0.5s;
}
.start-items-open:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-90deg) translateY(30vmin) rotate(90deg);
  transition-timing-function:linear;
  transition-delay: 0.1s;
  transition: 0.5s;
}
.start-items-open:nth-child(4) {
  transform: translate(-50%, -50%)  translateY(30vmin) ;
  transition-timing-function:linear;
  transition-delay: 0.1s;
  transition: 0.5s;
}
.start-items-open:nth-child(5) {
  transform: translate(-50%, -50%) translateY(-30vmin);
  transition-timing-function:linear;
  transition-delay: 0.1s;
  transition: 0.5s;
}
.label-center{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  font-size: 7vmin;
  height: 100px;
  overflow-y: hidden;
  text-align: center;
}
.label-center span{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.label-center span{
  animation: ScrollUp 5s linear 1;
}

@keyframes ScrollUp{
 25%{
   top:0;
 }
 50%{
    top: -100%;
  }

  75%,95%{
    top: -200%;
  }
  100%{
    top:0%;
  }
}
.close {
	font-size: 100px;
	position: relative;
	width: 1em;
}
.close::before{
  color: #ffffff;
  content: "×";
}

#slideL {
  
  z-index:3;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: #4d6a87ff;
  overflow: scroll;
}
#slideL .slide-block {
   position: relative;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  padding: 1em;
  background: #ffffff;
  margin-top: 50px;
}